.navbar {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.navbar-nav {
	float: right;
	transition: 0.5s;
}
.navbar-brand img {
	transition: 0.5s;
}
.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
}
.navbar-toggler:focus {
	box-shadow: none !important;
}
.navbar-toggler-icon {
	display: block !important;
	width: 30px !important;
	height: 2px !important;
	margin: 5px !important;
	background-color: $forthColor !important;
	transition: 0.5s !important;
}
.navbar-toggler-icon.center {
	width: 50% !important;
	margin: 0 auto !important;
}
.nav-link {
	color: $forthColor !important;
	position: relative;
	transition: color 0.5s ease-in-out;
}
.nav-link:before {
	content: '';
	width: 90%;
	height: 110%;
	position: absolute;
	left: 20px;
	bottom: -5px;
	border-bottom: 3px solid transparent;
	transition: border 0.5s ease-in-out;
}
.nav-link:hover {
	color: $firstColor;
}
.nav-link:hover:before {
	border-bottom: 3px solid $firstColor;
}
.download-btn {
	font-size: 14px;
	color: $forthColor;
	margin-left: 60px;
	display: block;
	padding: 0.3rem 1rem;
	text-decoration: none;
	background-color: $firstColor;
	border: 2px solid transparent;
	border-radius: 5px;
	transition: 0.5s ease-in-out;
}
.download-btn:hover {
	color: $firstColor;
	background-color: transparent;
	border: 2px solid $firstColor;
	text-decoration: none;
}
