/* ======SERVICES======= */
.services {
	background: linear-gradient($secondColor, rgba($secondColor, 0.9));
	padding: 80px 0;
	position: relative;
}
.services:after {
	content: '';
	width: 30%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: $firstColor url(../img/ins-img.png) no-repeat;
	background-size: contain;
	background-blend-mode: multiply;
	z-index: -1;
	border-radius: 0 20px 20px 0;
}
.services .background img {
	width: 420px;
	height: 480px;
	object-fit: cover;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba($fifthColor, 0.2);
	z-index: 3;
}
.services .box {
	padding-left: 50px;
}
.services .box ul {
	padding-left: 0;
}
.services .box ul li {
	font-family: sans-serif !important;
	color: $forthColor;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.services .box ul li:nth-child(odd) {
	transform: rotate(180deg);
}
.services .box ul li:nth-child(odd) i,
.services .box ul li:nth-child(odd) p {
	transform: rotate(-180deg);
}
.services .box ul li i {
	padding: 15px;
	background-color: rgba($forthColor, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 5px;
	box-shadow: 0 0 10 rgba($fifthColor, 0.1);
}
.services .box ul li span {
	width: 100%;
	height: 3px;
	display: block;
	margin: 0 10px;
	background: linear-gradient(
		to right,
		rgba($forthColor, 0.6),
		rgba($firstColor, 0.6),
		rgba($thirdColor, 0.6),
		rgba($forthColor, 0.6)
	);
	border-radius: 50%;
	box-shadow: 0 0 10 rgba($fifthColor, 0.1);
}
.services .box ul li p {
	margin: 0;
	color: $forthColor;
}
